
@{
    ViewData["Title"] = "Kullanıcı İzinleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kullanıcı İzinleri</h2>

<div class="container">
    <table class="table table-bordered" id="example">
        <thead>
            <tr>
                <th>İzin Sahibi</th>
                <th>İzin Başlangıç</th>
                <th>İzin Bitiş</th>
                <th>İzin Oluşturulan Tarih</th>
                <th>İzin Süresi</th>
                <th>Sil</th>
                <th>Düzenle</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "ajax": {
                "url": "GetsHoliday",
                "dataSrc": ""
            },
            "columns": [
                { "data": "user" },
                { "data": "startDateString" },
                { "data": "endDateString" },
                { "data": "createDateString" },
                { "data": "holidayTime" },       
                {
                  "title": "Sil",
                  "data": "id",
                  "searchable": false,
                  "sortable": false,
                    "render": function (data, type, row) {
                        var veri = data;
                        return '<a href="@Url.Action("HolidayDelete", "Holiday")/' + veri + '">Sil</a>';
                     }
                },
                {
                  "title": "Düzenle",
                  "data": "id",
                  "searchable": false,
                  "sortable": false,
                    "render": function (data, type, row) {
                        var veri = data;
                        return '<a href="@Url.Action("HolidayEdit", "Holiday")/' + veri + '">Duzenle</a>';
                     },
                 }
            ]
        });
    });
   
</script> 