
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<h2>Departman Üyeleri</h2>

<div class="container">

    <p style="float:right;">Departman Yöneticisi : @ViewBag.managermail</p>
    <br />
    <br />
    <a class="btn btn-default" href="@Url.Action("AddUser","Department",new { id=ViewBag.Id })" style="float:right;">Kullanıcı Ekle</a>
    <table class="table table-bordered" id="example">
        <thead>
            <tr>
                <th>İsim</th>
                <th>Yönetim</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "ajax": {
                "url": "Department/GetsDepartment/@ViewBag.Id",
                "dataSrc": ""
            },
            "columns": [
                { "data": "name" },
                {
                  "title": "Kaldır",
                    "data": "email",
                  "searchable": false,
                  "sortable": false,
                    "render": function (data, type, row) {
                        var veri = data;
                        return '<a href="@Url.Action("DeleteUser", "Department")?email=' + veri + '">Departmandan Sil</a>';},
                },
            ]
        });
    });

</script> 