
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetHolidayPdf</title>
</head>
<body>
    
    <a href="#" onclick="window.open('C:/Users/anily/Desktop/IzinFormu/IzinFormu/Iz%C4%B1nPdf/Mehmet-20-06-2018-13-39-57.pdf', '_blank', 'fullscreen=yes'); return false;">MyPDF</a>
    <a href="file:///C:/Users/anily/Desktop/IzinFormu/IzinFormu/Iz%C4%B1nPdf/Mehmet-20-06-2018-13-39-57.pdf" target="_blank">Read more</a>
</body>
</html>
