
@{
    ViewData["Title"] = "İzinlerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>İzinlerim</h2>

<div class="container">
    <a class="btn btn-default" href="@Url.Action("HolidayRegister","Holiday")" style="float:right;">İzin Olustur</a>
    <table class="table table-bordered" id="example">
        <thead>
            <tr>
                <th>İzin Sahibi</th>
                <th>İzin Başlangıç</th>
                <th>İzin Bitiş</th>
                <th>İzin Oluşturulan Tarih</th>
                <th>İzin Süresi</th>
                <th>Yazdır</th>
                <th>Pdf</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    function pdfcreate() {
        alert("Pdf Oluşturuldu.")

    }


    $(document).ready(function () {
        $('#example').DataTable({
            "ajax": {
                "url": "Holiday/GetsMyHoliday",
                "dataSrc": ""
            },
            "columns": [
                { "data": "user" },
                { "data": "startDateString" },
                { "data": "endDateString" },
                { "data": "createDateString" },
                { "data": "holidayTime" },  
                {
                  "title": "Yazdır",
                  "data": "id",
                  "searchable": false,
                  "sortable": false,
                    "render": function (data, type, row) {
                        var veri = data;
                        return '<a href="@Url.Action("GetHolidayHtml", "Holiday")/' + veri + '">Yazdır</a>';},
                },
                {
                  "title": "Pdf",
                  "data": "id",
                  "searchable": false,
                  "sortable": false,
                    "render": function (data, type, row) {
                        var veri = data;
                        return '<a onclick="pdfcreate()" href="@Url.Action("GetHolidayPdf", "Holiday")/' + veri + '">Pdf</a>';},
                },
            ]
        });
    });

</script> 