
@{
    ViewData["Title"] = "MyDeniedHolidays";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Onaylanmamış Izinler</h3>

<div class="container">
    <table class="table table-bordered" id="example">
        <thead>
            <tr>
                <th>İzin Sahibi</th>
                <th>İzin Başlangıç</th>
                <th>İzin Bitiş</th>
                <th>İzin Oluşturulan Tarih</th>
                <th>İzin Süresi</th>
                <th>İzin Durumu</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "ajax": {
                "url": "GetsMyDeniedHolidays",
                "dataSrc": ""
            },
            "columns": [
                { "data": "user" },
                { "data": "startDateString" },
                { "data": "endDateString" },
                { "data": "createDateString" },
                { "data": "holidayTime" },
                { "data": "status"},
            ]
        });
    });

</script> 